.header {
  &__nav {
    grid-column: 2 / span 1;
    justify-self: flex-end;
    align-self: center;

    // Nav Container (ul)
    &-items {
      display: flex;
      list-style: none;
    }

    // Link Container (li)
    &-links {
      margin-left: 4rem;
    }

    // Individual Links (a)
    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.5rem;
      color: $white;
      font-family: $font-secondary;
      letter-spacing: 0.1rem;
      transition: all 0.1s;

      &:hover {
        color: $color-green-1;
      }
    }

    .active {
      color: $color-green-1;
    }
  }
}
