.mb-sm {
  margin-bottom: 1.5rem;
}
.mb-med {
  margin-bottom: 4rem;
}
.mb-big {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-bottom: 1.5rem;
}
.mt-med {
  margin-bottom: 4rem;
}
.mt-big {
  margin-bottom: 8rem;
}

.center-text {
  text-align: center;
}
